<div>
    <a href="http://www.linkedin.com/company/prvn-consultants-inc-?trk=hb_tab_compy_id_2797743">
        <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </a>
    <a href="https://www.facebook.com/pages/PRVN-Consultants-Inc/567718769911282">
        <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </a>
    <a href="https://twitter.com/prvnconsultants">
        <mat-icon svgIcon="twitter" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </a>
</div>

