/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";
button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: none;
    color: none;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

body {
    margin: 0;
    font-style: georgia;
}
@media (max-width: 600px) {
    .sizer{
      font-size: 75%;
    }
    .example-spacer {
      flex: 1 1 auto;
    }
  }
  @media (min-width: 601px) {
    .sizer{
      font-size: 100%;
    }
  }