<mat-card>
    <h2 (click)=displayInfo(position.type)>{{position.type}}</h2>
    <ng-container *ngIf=display[position.type]>
        <p>
            {{position.header}}
        </p>
        <h5>POSITION DESCRIPTION:</h5>
        <ul>
            <li *ngFor="let item of position.descriptions">
                {{item}}
            </li>
        </ul>
        <h5>SKILLS:</h5>
        <ul>
            <li *ngFor="let item of position.skills">
                {{item}}
            </li>
        </ul>
        <h5>BENEFITS:</h5>
        <p>
            {{position.benefit}}
        </p>
    </ng-container>
</mat-card>