<carousel [slides]="slides" [slide1]="slide"></carousel>
<div style="display: flex; padding: 5px;">
    <aside style="flex: 1;">
        <b>PRVN CONSULTANTS, INC.</b> is a niche company that works
        in the district energy (heating, cooling, and electrical
        generation) and combined heat and power (CHP) arena. We
        bring our clients the experience of a large firm, with the
        personal service of a small firm, while remaining nimble
        and flexible in our approach. Since we were established
        in 2011, we have continued to expand our services and
        expertise. Our unique pool of talent uses upfront collaboration,
        advanced problem solving, and fresh thinking to find practical
        and efficient solutions to complex challenges.Our Principals
        are very experienced. We work hand-in-hand with your team to
        find the best approach to each project, utilizing unique, innovative,
        and cost-effective solutions.
    </aside>
    <main style="flex: 3; padding: 5px;">
        <b>FOR IMMEDIATE RELEASE:</b> Given the current situation regarding the COVID-19 virus,
        PRVN Consultants, Inc. announced that for the safety of its professionals, clients, and
        partners, it will be limiting travel to essential business travel. Professionals
        exhibiting any symptoms such as fever, cough, or shortness of breath, or caring for
        those who are, are asked to stay home and work remotely. We will utilize technology to
        reduce face-to-face interactions while remaining productive to deliver timely, quality
        solutions for our clients.
    </main>
</div>